body {
    background: rgb(255, 255, 255);
    width: 100%;
}

h1, h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Yanone Kaffeesatz';
}

.Header {
    width: 100%;
    margin-bottom: 50px;
}

#Navbar {
    width: 100%;
    text-align: right;
    padding-top: 50px;
}

#Navbar ul {
    display: inline;
    padding-inline-start: 20px;
}

#Signature {
    float: left;
    display: inline;
    padding-left: 50px;
    padding-top: 5px;
}

#Signature:hover {
    transform: scale(1.2);
}

ul {
    display: inline;
}

#Mail {
    padding-inline-end: 100px;
}

#Github:hover {
    transform: scale(1.2);
}

#Twitter:hover {
    transform: scale(1.2);
}

#LinkedIn:hover {
    transform: scale(1.2);
}

#Mail:hover {
    transform: scale(1.2);
}

.giphy-embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.magic8ball {
    position: relative;
    text-align: center;
    width: 100%;
}

#EightBall {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

#result {
    font-family: 'Arial';
    color: white;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 46%;
    left: 47%;
    right: 47%;
  
}

#Eightball:hover {
    transform: scale(1.1);
}

.ropasc li {
    text-align: center;
    display: inline-block;
}

